
.imagen_1 {
  position:absolute;
  height:300px;
  width:300px;
  top: 40px;
  left : 40px;
  z-index: -1;
}

.imagen_2 {
  position:absolute;
  height:300px;
  width:300px;
  top: 40px;
  left : 40px;
  z-index: 1;
}
