body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .main {
    margin: 5px;
    display: flex;
  }
  .box {
    padding: 5px;
    width: 25%;
    display: inline-block;
  }
  .img_width{
      width: 100%;
  }